<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Robot Control</title>
    <link href="./styles.css" rel="stylesheet" type="stylesheet">



</head>
<body>
<div id="display">

    <div id="dashboard">
        <h5>Slider Values</h5>
        <div id="sliderValues">
            <!-- Slider values will be displayed here dynamically -->
        </div>
    </div>


    <div>
        <div id="forandqueue">
            <iframe id="dummyframe" name="dummyframe" style="display: none;"></iframe>
            <form action="http://192.168.88.58:3245/gui" id="robotControlForm" method="post" target="dummyframe">
                <div id="outer">
                    <div id="head_sliders">
                        <label for="slider1">HeadTilt:</label>
                        <input id="slider1" max="9000" min="3000" name="HeadTilt" step="200" type="range"
                               value="6000"><br>

                        <label for="slider2">HeadTurn:</label>
                        <input id="slider2" max="9000" min="3000" name="HeadTurn" step="200" type="range"
                               value="6000"><br>
                    </div>
                    <div id="upper">
                        <div id="L_arm_sliders">
                            <label for="slider3">LShoulder:</label>
                            <input id="slider3" max="9000" min="3000" name="LShoulder" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider4">LBicep</label>
                            <input id="slider4" max="9000" min="3000" name="LBicep" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider5">Lelbow</label>
                            <input id="slider5" max="9000" min="3000" name="Lelbow" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider6">Lwrist</label>
                            <input id="slider6" max="9000" min="3000" name="Lwrist" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider7">Lclaw</label>
                            <input id="slider7" max="9000" min="3000" name="Lclaw" step="200" type="range" value="6000"><br>
                        </div>

                        <div id="R_arm_sliders">
                            <label for="slider8">RShoulder</label>
                            <input id="slider8" max="9000" min="3000" name="Rshoulder" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider9">RBicep</label>
                            <input id="slider9" max="9000" min="3000" name="RBicep" step="200" type="range"
                                   value="6600"><br>

                            <label for="slider10">Relbow</label>
                            <input id="slider10" max="9000" min="3000" name="Relbow" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider11">Rwrist</label>
                            <input id="slider11" max="9000" min="3000" name="Rwrist" step="200" type="range"
                                   value="6000"><br>

                            <label for="slider12">Rclaw</label>
                            <input id="slider12" max="9000" min="3000" name="Rclaw" step="200" type="range"
                                   value="6000"><br>
                        </div>

                    </div>
                    <div id="lastrow">
                        <div id="Wheel_Sliders">

                            <div id="body_sliders">
                                <label for="slider13">Waist:</label>
                                <input id="slider13" max="9000" min="3000" name="Waist" step="200" type="range"
                                       value="6000"><br>
                            </div>
                            <label for="L_Motors">L_Motor</label>
                            <input id="L_Motors" max="9000" min="3000" name="L_Motors" step="200" type="range"
                                   value="6000"><br>
                            <label for="R_Motors">R_Motor</label>
                            <input id="R_Motors" max="9000" min="3000" name="R_Motors" step="200" type="range"
                                   value="6000"><br>
                        </div>
                        <div id="lastR">
                            <div class="input-container">
                                <textarea class="input-field" id="UserSpeech" placeholder="Speak friend and enter"
                                          rows="1"></textarea>
                            </div>
                            <div id="timers">
                                <label for="slider20">Duration</label>
                                <input id="slider20" max="180" min="1" name="duration" step="1" type="range"
                                       value="0"><br>
                                <label for="slider21">Delay</label>
                                <input id="slider21" max="1" min="0" name="delay" step="1" type="range" value="0"><br>
                            </div>
                            <!--                    <input onclick="sendDatatype="button"value="Send">-->
                        </div>

                    </div>
                </div>
            </form>

            <div id="queueOuter">
                <h5>Queue</h5>
                <div id="queueContainer">

                    <div class="input-container" id="queue">
                        <!-- Queue items will be displayed here dynamically -->
                    </div>
                </div>
                <div class="button-container2">
                    <!-- Add a button to remove items from the queue -->
                    <button class="qbutton" id="Qremove" onclick="removeFromQueue()">-</button>
                    <!-- Add a button to add items to the queue -->
                    <button class="qbutton" id="Qadd" onclick="addToQueue()">+</button>
                    <!-- Add a button to add items to the queue -->
                    <button class="qbutton" id="Set" onclick="setQueue()">Set</button>
                </div>
            </div>
        </div>

        <div class="quickset">
            <button class="qbutton" id="button1" onclick="_">Left 45</button>
            <button class="qbutton" id="button2" onclick="_">Forward</button>
            <button class="qbutton" id="button3" onclick="_">Right 45</button>
            <button class="qbutton" id="button4" onclick="_">Left 90</button>
            <button class="qbutton" id="button5" onclick="_">Reverse</button>
            <button class="qbutton" id="button6" onclick="_">Right 90</button>
            <button class="qbutton" id="button7" onclick="_">Set 1 Time unit</button>
            <button class="qbutton" id="button8" onclick="_">Neutral</button>
            <button class="qbutton" id="button9" onclick="_">+1 Time unit</button>

        </div>
        <div class="button-container1">
            <button class="actbutton" onclick="window.close()">Exit Interface</button>
            <button class="actbutton" onclick="window.location.href='url2';">Human Input</button>
            <button class="actbutton" onclick="savePreset()">Save Preset</button>
            <button class="actbutton" onclick="loadPreset()">Load Preset</button>
            <button class="actbutton" onclick="window.location.href='url5';">Toggle Phrase</button>
            <button class="actbutton" onclick="speakLine()">Speak Line</button>
            <button class="actbutton" onclick="">Chain Function</button>
            <button class="actbutton" onclick=""><a href="http://192.168.88.58:3245/exec">Run Program</a>
            </button>
        </div>
    </div>


    <script>

        function updateDashboard() {
            var sliders = document.querySelectorAll('input[type="range"]');


            var dashboardContent = "";
            sliders.forEach(function (slider) {
                dashboardContent += "<p>" + slider.name + ": " + slider.value + "</p>";
            });

            // var delaySlider = document.getElementById('slider21');
            // var durationSlider = document.getElementById('slider20');
            //
            // dashboardContent += "<p>" + delaySlider.name + ": " + delaySlider.value + "</p>";
            // dashboardContent += "<p>" + durationSlider.name + ": " + durationSlider.value + "</p>";


            document.getElementById("sliderValues").innerHTML = dashboardContent;
            // sendData();
        }

        // Bind input events when the document is loaded
        document.addEventListener("DOMContentLoaded", function () {
            bindInputEvents();
            updateDashboard(); // Update dashboard initially
        });

        // Function to bind input events to sliders
        function bindInputEvents() {
            var form = document.getElementById("robotControlForm");
            var sliders = form.getElementsByTagName("input");
            for (var i = 0; i < sliders.length; i++) {
                if (sliders[i].type === "range") {
                    sliders[i].addEventListener("input", updateDashboard); // Add event listener to each slider
                }
            }
        }


        var sampleSpeech = ["Hello new friend", "How are you", "How can I help you today", "I don't get paid enough oil for this"];

        function speakLine() {
            var input = document.getElementById("UserSpeech").value;
            var msg = new SpeechSynthesisUtterance();
            if (input == "") {
                msg.text = sampleSpeech[Math.floor(Math.random() * sampleSpeech.length)];
            } else {
                msg.text = input;
            }
            //if text box empty, randomly select from sampleSPeech, otherwise set msg.text to input
            window.speechSynthesis.speak(msg);
        }

        // Define a global array to act as the queue
        var queue = [];
        var preset = [];

        function savePreset() {
            preset = [];
            for (var i = 0; i < queue.length; i++) {
                preset.push(queue[i]);
            }
        }

        function loadPreset() {
            queue = [];
            updateQueueDisplay();

            for (var i = 0; i < preset.length; i++) {
                queue.push(preset[i]);
            }
            updateQueueDisplay();
        }

        // Function to add items to the queue
        function addToQueue() {
            var form = document.getElementById("robotControlForm");
            var sliders = form.getElementsByTagName("input");
            var queueItem = {}; // Object to hold the slider values

            // Loop through sliders, add their values to the queue item
            for (var i = 0; i < sliders.length; i++) {
                if (sliders[i].type === "range") {
                    queueItem[sliders[i].name] = sliders[i].value;
                }
            }

            // Add the queue item to the queue array
            queue.push(queueItem);

            // Update the displayed queue
            updateQueueDisplay();
        }

        // Function to remove items from the queue
        function removeFromQueue() {
            if (queue.length > 0) {
                queue.shift(); // Remove the first item from the queue
                updateQueueDisplay(); // Update the displayed queue
            }
        }

        function setQueue() {
            // Get the content of the queue element
            var queueContent = document.getElementById("queue").innerHTML;

            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Specify the URL to send the data to
            var url = "http://192.168.88.58:3245/setQue"; // send to setQue

            // Open a POST request to the specified URL
            xhr.open("POST", url, true);

            // Set the Content-Type header to indicate that we're sending HTML content
            xhr.setRequestHeader("Content-Type", "text/html");

            // Define a callback function to handle the response from the server
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    // Check if the request was successful (status code 200)
                    if (xhr.status === 200) {
                        // Request was successful, do something with the response if needed
                        console.log("Queue content sent successfully!");
                    } else {
                        // Request failed, handle the error
                        console.error("Error sending queue content. Status code: " + xhr.status);
                    }
                }
            };

            // Send the queue content in the request body
            xhr.send(queueContent);

        }

        // Function to update the displayed queue
        function updateQueueDisplay() {
            var queueContent = "";

            // Loop through the queue items and display them
            for (var i = 0; i < queue.length; i++) {
                queueContent += "<p>Action " + (i + 1) + ": " + JSON.stringify(queue[i]) + "</p>";
            }

            // Update the content of the queue div
            document.getElementById("queue").innerHTML = queueContent;
        }
    </script>
</div>
</div>
</body>
</html>
